* {
    margin: 0;
    padding: 0;
    color: var(--text-body);
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
body {
    background-color: var(--shape-background);
}
.main-container {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}
